@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root{
    --primaryColor: #222222;
    --textColor: #f8f8f8;
    --corForte: #FED425;
}
/*Smartphone*/
@media screen and (max-width:767px){
    
}
/*Table*/
@media screen and (min-width:767px) and (max-width:1023px){

}
/*Desktop*/
@media screen and (min-width:1024px){

}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  html{
    scroll-behavior: smooth;
    text-decoration: none;
  }
  .header .logo{
    float: left;
  }
  .header .itens{
    float: right;
  }
  body{
    background-color: var(--primaryColor);
    color: var(--textColor);
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
  }

  .navbarP a {
    float: left;
    float: right;
    margin-right: 20px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    margin-top: 1%;
    text-decoration: none;
  }
  .navbarP a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px ;
  }

  /* estilo para os links dentro da navbar */
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 3%;
    text-decoration: none;
  }

  /* estilo para mudar a cor do link quando o mouse passa por cima */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px ;
  }

  /* estilo para a logo */
  .navbar .logo {
    float: left;
    height: 100px;
    padding: 10px;
  }

  /* estilo para o botão de login e cadastro */
  .navbar .btn-group {
    float: right;
    padding: 0px 100px;
  }

  #cadastro{
    border: 1px solid white;
    border-radius: 5px;
  } 
  #cadastro:hover{
    border-radius: 10px;
  }

  #login{
    border-radius: 5px ;
    margin-right: 10px;
  }
  #ping{
    margin-right: 50px;
  }

  
   /* Estilo do cabeçalho */
   header {
    background-color: var(--primaryColor);
    color: var(--textColor);
    padding: 20px;
    padding-bottom: 250px;
    margin: 0 auto;
    text-align: center;
  }
  header img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  header .seta{
    width: 70px;
    height: 70px;    
    object-fit: cover;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    align-content: center;
  }
 .integrante {
    width: 200px;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .integrante h3 {
    padding: 3px;
    font-size: 24px;
    color: #333;
  }
  
  .integrante img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .integrante img:hover {
    width: 110%;
    height: 400px;
    object-fit: cover;
  }
  
  /* Estilo do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

    position: relative;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
@media only screen and (min-width: 601px) {
    header {
        background-color: var(--primaryColor);
        color: var(--textColor);
        padding: 20px;
        padding-bottom: 30%;
        padding-top: 10%;
        text-align: center;
        margin: 0 auto;
  }
  header img{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
  }


}
b{
  color:#FED425;
}
    .card {
      width: 500px;
      height: 450px;
      margin: 0 auto;
      text-align: initial;
      background-color: #FED425;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin-top: 20px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
    }
    
    .card h3 {
      padding: 3px;
      font-size: 24px;
      color: var(--textColor);
      float: inherit;
      text-align: center;
    }
    
    .card img {
      width: 400px;
      float: left;
      object-fit: cover;
      margin-left: 10%;
      
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
 a{
   text-decoration: none;
   color: var(--textColor);
 }



   /* Estilo para telas menores */
   @media only screen and (max-width: 600px) {
    .integrante {
      max-width: 90%;
    }
    header {
        background-color: var(--primaryColor);
        color: var(--textColor);
        padding: 20px;
        padding-bottom: 500px;
        padding-top: 250px;
        margin: 0 auto;
  }
  header img{
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
  header .seta{
    width: 70px;
    height: 70px;    
    object-fit: cover; 
    margin-top: 20px;
  }

  .navbar .logo {
    display: none;
  }
  #cadastro{
    font-size: 12px;
    margin: 0 auto;
    text-align: center;

  } 
  #login{
    display: none;
  }
  .navbar .btn-group {
    float: right;
    padding: 0px 10px;
  }
  #ping{
    margin-right: 10px;
  }

  .card {
    width: 300px;
    height: 320px;
  }

  .card img {
    width: 270px;
    float: left;
    object-fit: cover;
    margin-left: 5%;
  
  }
  
}
form{
  max-width: 500px;
  width: 70%;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  top: 3rem;
}

form h3{
  text-align: justify;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f9fc;
}
form h5{
  text-align: justify;
  font-style: italic;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f9fcc8;
}
form a{
  color: var(--textColor);
  font-style: normal;
}
form a:hover{
  color: var(--corForte)  ;
}
form p{
  max-width: 80%;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c2c8cc;
  margin: 20px 0;
}

form p strong{
  color: #57abf1;
}

form input[type=text],
form input[type=password]{
  width: 80%;
  height: 45px;
  background: #333;
  color: var(--textColor);
  border: 1px solid var(--corForte);
  border-radius: 5px;
  padding-left: 10px;
  margin: 5px 0;
}

form input[type=submit]{
  width: 80%;
  height: 45px;
  cursor: pointer;
  background: #333;
  color: var(--textColor);
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

form input[type=submit]:hover{
  background: white;
  color: #333;
  transition: 0.3s;
}

form input[type=text]:focus{
  outline: 0;
}

form input[type=password]:focus{
  outline: 0;
}
